.maps {
    width: 512px;
    display: block;
    margin: 0 auto;
}

body {
    padding-top: 80px;
    padding-bottom: 0px;

    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 600px;
}

.navbar-brand {
    margin: 0 auto;
}

.navbar-collapse {
    
}

@media (max-width: 767px) {
    .navbar-brand {
        text-align: center;
    }

   
    .navbar-collapse {
        position: inherit;
    }
}

html {
    
    scroll-behavior: smooth;
}
@media (max-width: 1000px) {
    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }

        .navbar-collapse.collapse:not(.in) {
            display: none !important;
        }

    
}


.pInterests {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 3vh;
}

.divInterests {

/*    width: 25%;*/
    padding-top: 5px;
    margin: auto;
}

.imgInterests {
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.rssSpecialImg {
    font-size: 1.7vh;
    font-family: 'Open Sans', sans-serif;
}

.rssSpecialImg img  {
    margin-left: 10px;
    border: 1px solid;
    border-color:black;
    float:right;

    
}
h1 {
    font-family: 'Lato', sans-serif;
}